body {
 margin: 0;
 font-family: 'Work Sans', sans-serif;
 }

.main-header {
  background-color: #cceeff;
  height: 300px;
  margin-top: 3.8em;
  }

.main-nav, .body {
  position: relative;
}

.main h2 {
  text-align: center;
  font-size: 2em;
  color: #00b3b3;
  text-transform: uppercase;
  margin-top: 1em;
  font-weight: bolder;
  margin-bottom: 1.6em;
 }

.main-nav {
  background-color: #00cccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 150;
  height: 7.75em;
  position: fixed;
  top: 0;
  }

.main-nav a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-left: 3em;
  align-items: center;
  height: 6.5em;
  width: 6.5em;
  color: #004d4d;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 10em;
  border: 2px solid #004d4d;
  letter-spacing: 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
  }

.main-nav a:hover {
  color: white;
  background-color: #009999;
  border-color: #009999;
}

.about {
  background-color: #d9d9d9;
}

.about p, .contact p {
  font-size: 1em;
  text-align: center;
  margin-bottom: .8em;
  }

.demos {
  background-color: #f2f2f2;
  }

.contact {
  background-color: #f2f2f2;
 }

.about, .contact, .demos {
 height: 22em;
 width: 100%;
 display: inline-block;
 }

.about p, .contact p, .demos p {
  color: #008080;
  padding-left: 3em;
  padding-right: 3em;
}

.about img {
  max-width: 250px;
  height: auto;
  border-radius: 50%;
  float: left;
  clear: both;
  margin-top: -2em;
  margin-left: 15%;
  margin-right: 2em;
}

.main-footer {
  background-color: #00b3b3;
  color: white;
  font-size: .8em;
  height: 3.5em;
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
}

.contact a {
  margin-top: 3em;
  text-decoration: none;
  color: #008080;
  margin-left: 1em;
  margin-right: 1em;
  }

.contact a:hover {
  color: #004d39;
  font-weight: bold;
}

.contact-info {
  display: flex;
  justify-content: center;

}


/**************Media Queries***************/


/**************Phone***************/

@media (max-width: 569px) {
  .main-nav {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  }

  .main-nav a {
  border: 1px solid #00cc99;
  width: 100%;
  margin: 0;
  height: 3em;
  font-size: 1em;
  }

.main-header {
 margin-top: 0;
}

.main h2 {
 font-size: 2.2em;
}

.about p, .contact p, .demos p {
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1.1em;
}

.contact a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  }

.main-footer {
  height: 4.3em;
  text-align: center;
}

.about img {
display: none;
}

.mobile-view {
  display: flex;
  flex-direction: column-reverse;

}

/**************Tablet***************/

@media (min-width: 1024px) {
.main-nav {
  background-color: #00e6ac;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 2px solid #00cc99;
  }

.main-nav a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  }
}










.
