body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  }

.main-header {
  background-color: #cceeff;
  height: 300px;
  margin-top: 3.8em;
  }

.main-nav, .body {
  position: relative;
}

.main h2 {
  text-align: center;
  font-size: 2em;
  color: #3b3a36;
  text-transform: uppercase;
  margin-top: 2em;
  font-weight: bolder;
  margin-bottom: 1.6em;
  }

.main-nav {
  background-color: #c0dfd9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 150;
  height: 7.75em;
  position: fixed;
  top: 0;
  }

.main-nav a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-left: 3em;
  align-items: center;
  height: 6.5em;
  width: 6.5em;
  color: #3b3a36;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 10em;
  border: 2px solid #3b3a36;
  letter-spacing: 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
  }

.main-nav a:hover {
  color: white;
  background-color: #ffaa80;
  border-color: #ffaa80;
  text-decoration: none;
}

.about p, .contact p {
  font-size: 1em;
  text-align: center;
  margin-bottom: .8em;
  }

.demos {
  background-color: #e6eae1;
  }

.about {
  background-color: #f3f4f0;
}

.contact {
  background-color: #e6eae1;
 }

.about, .contact, .demos {
 height: 28em;
 width: 100%;
 display: inline-block;
 }

.about p, .contact p, .demos p {
  color: #3b3a36;
  padding-left: 3em;
  padding-right: 3em;
}

.about img {
  max-width: 250px;
  height: auto;
  border-radius: 50%;
  float: left;
  clear: both;
  margin-top: -2em;
  margin-left: 15%;
  margin-right: 2em;
}

.main-footer {
  background-color: #c0dfd9;
  color: #3b3a36;
  font-size: .9em;
  height: 3.5em;
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #3b3a36;
  }

.contact a {
  font-size: 1.2em;
  text-decoration: none;
  align-items: center;
  border: none;
  margin-left: .8em;
  margin-right: 3em;
  color: #3b3a36;
  }

.contact a:hover {
  color: #ffaa80;
  text-decoration: none;
}

/**************Media Queries***************/


/**************Phone***************/

@media (max-width: 600px) {


.main-nav {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  }

  .main-nav a {
  width: 100%;
  margin: 0;
  height: 3em;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #b3c2bf;
  border-radius: 0;
  }

.main-nav a:hover {
  color: white;
  background-color: #ffaa80;
  border-color: #ffaa80;
  text-decoration: none;
  border-radius: 0;
}

.main-header {
 margin-top: 0;
}

.main h2 {
  font-size: 2.2em;
}

.main {
  width: 100%;
}

.about p, .contact p, .demos p {
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1.1em;
}

.about, .contact, .demos {
  height: 30%;
  padding-top: 1em;
  padding-bottom: 2em;
  width: 100%;
}

.contact-info {
  flex-direction: column;
}

.contact-info span {
  display: none;
}

.contact a {
  display: flex;
  flex-direction: column;
  }

.main-footer {
  height: 4.3em;
  text-align: center;
}

.about img {
  display: none;
}

.mobile-view {
  display: flex;
  flex-direction: column-reverse;

}
}

/**************Tablet***************/

@media (min-width: 1024px) {

.main-nav {
  flex-direction: row;
  justify-content: flex-end;
  }

.main-nav a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  }

.main {
 background-color: #b3c2bf;
}

.body {
  width: 80%;
  margin: auto;
}
}









.
